<!-- Main -->
<div id="page">


	<div class="container">
		<h1>Scotland, Inverness</h1>
		<p>e-mail: inverness@nordalliance.co.uk</p>
		<p>address: 45 Rosehaugh road, Inverness, Scotland</p>
		<div class="cc-map-wrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2144.3319825095873!2d-4.240639099999999!3d57.4897123!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488f76a9d90f5569%3A0xbd530009b492757!2zNDUgUm9zZWhhdWdoIFJkLCBJbnZlcm5lc3MsIEhpZ2hsYW5kIElWMyA4U1csINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sru!2sru!4v1425257830715" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>
	</div>

	<br>

	<div class="container">
		<h1>Latvia, Riga</h1>
		<p>e-mail: riga@nordalliance.co.uk</p>
		<p>phone: +37167660664</p>
		<p>address: Regus Riga Bussiness Center, 14 Terbatas street, Riga, Latvia</p>
		<div class="cc-map-wrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2175.714218154345!2d24.121577599999988!3d56.953697399999974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s14+Terbatas+street%2C+Riga!5e0!3m2!1sru!2sru!4v1425258105170" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>

	</div>

	<br>

	<div class="container">
		<h1>Russia, Moscow (Main partner)</h1>
		<p>e-mail: info@ooo-transcontinent.ru</p>
		<p>phone: +74959759662
		<p>address: 6/4, Chasovaya street, Moscow, Russia</p>

		<div class="cc-map-wrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2242.1893542926705!2d37.534804000000015!3d55.80731299999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sChasovaya%2C+6%2F4%2C+Moscow!5e0!3m2!1sru!2sru!4v1425258277447" width="600" height="450" frameborder="0" style="border:0"></iframe>
		</div>


	</div>
</div
