<!-- Banner -->
<div id="banner">
	<div class="container">
	</div>
</div>
<!-- /Banner -->

<!-- Main -->
<div id="page">

	<!-- Extra -->
	<div id="marketing" class="container">
		<div class="row">
			<div class="4u">
				<section>
					<header>
						<h2>Shipping by truck</h2>
					</header>
					<p><img src="<%= asset_path('truck.jpg') %>" alt=""></p>
					<p class="subtitle">For movement of up country cargo to and for port transportation by road is preferred because this mode is readily available thus cutting down waiting time. Rail transportation though cheaper but due to shortage of rail wagons a lot of waiting time is required. 
We have a fleet of heavy duty trucks and trailers for transporting containers and open bulk cargo.</p>
				</section>
			</div>
			<div class="4u">
				<section>
					<header>
						<h2>Shipping by air</h2>
					</header>
					<p><img src="<%= asset_path('plane.jpg') %>" alt=""></p>
					<p class="subtitle">Airfreight is the fastest and most reliable transport mode. It creates shorter lead-times in time-based and just-in-time systems. It reduces your costs through reduced stock and faster distribution. And finally, its speed and flexibility increases your service level. 
With this team of specialist airfreight experts and its state of the art technology, Nort Alliance, offers faster, more extensive services for point-to-point delivery of goods to domestic, regional and international destinations than most Europe companies. Over the years, Nord Alliance, has forged close and successful partnerships with international cargo shippers, agents and allied airline representatives, providing quality service in handling nearly every type of cargo.</p>
				</section>
			</div>
			<div class="4u">
				<section>
					<header>
						<h2>Shipping by sea</h2>
					</header>
					<p><img src="<%= asset_path('ship.jpg') %>" alt=""></p>
					<p class="subtitle">Container vessels is capable of handling container shipment from / to major Europe port.
In order to meet the growing traffic of container trade and facilitate effective and speedy handling of containers, cargo international has acquired and developed a modern container terminal in Europe ports . 
We working with biggest lines in the world</p>
				</section>
			</div>
		</div>
	</div>
	<!-- /Extra -->
	<br><hr><br>
  <div class="container">
		<div class="row">
	    <header>
		  	<h2>Our Mission</h2>
			</header>
			<p>We are deeply proud of the contribution we can make in our daily work. Everything that is moved from one place to another needs the aid of logistics – but behind this simple truth one finds millions of stories. As the logistics company for the world, we form the backbone of trade, ensuring that whatever needs to be delivered, gets delivered. A shipment placed in our trust may include life-saving medicines, or a birthday present from a friend, or hold a company’s entire existence in the form of a prototype. We not only deliver parcels and packages, and make sure containers arrive at ports: we deliver prosperity, we transport health, we power growth, we deliver joy. Every day we connect people, improving their lives. </p>
		</div>
	</div>

				<br>

	<div class="container">
		<div class="row">
	 
						<p><a href="/ru">Русская версия сайта</a></p>
    </div>
  </div>
</div>
<!-- /Main -->

