<!-- Banner -->
<div id="banner">
	<div class="container">
	</div>
</div>
<!-- /Banner -->

<!-- Main -->
<div id="page">

	<!-- Extra -->
	<div id="marketing" class="container">
		<div class="row">
			<div class="4u">
				<section>
					<header>
						<h2>Автомобильные перевозки</h2>
					</header>
					<p><img src="<%= asset_path('truck.jpg') %>" alt=""></p>
					<p class="subtitle">Для перемещения грузов в порты и из портов предпочтительным является автомобильная транспортировка, так как она позволяет значительно сократить время транспортировки. Не смотря на то что железнодорожные перевозки выгоднее с финансовой точки зрения, но с точки зрения сроков доставки - автомобильной транспортировке на не большие расстояния нет равных.</p>
				</section>
			</div>
			<div class="4u">
				<section>
					<header>
						<h2>Авиаперевозки</h2>
					</header>
					<p><img src="<%= asset_path('plane.jpg') %>" alt=""></p>
					<p class="subtitle">Авиаперевозки являются самым быстрым и надежным видом. Это позволяет доставлять грузы за минимальное время и точно в срок. Также это позволяет снизить затраты за счет снижения объема складских запасов, ведь новую партию вы получите быстро и точно в срок. И, наконец, скорость и гибкость авиаперевозок позволяют поднять уровень сервиса на качественно новый уровень.
					С нашей командой специалистов в данной области Вы с легкостью осуществите транспортировку грузов в национальных, региональных и международных направлениях. На протяжении нескольких лет Nord Alliance укрепляет успешные партнерские отношения с международными перевозчиками, агентами и авиакомпаниями обеспечивая наивысшее качество обслуживания.</p>
				</section>
			</div>
			<div class="4u">
				<section>
					<header>
						<h2>Морские транспортировки</h2>
					</header>
					<p><img src="<%= asset_path('ship.jpg') %>" alt=""></p>
					<p class="subtitle">Морские контейнерные перевозки позволяют транспортировать значительные объемы грузов. Для того чтобы удовлетворить растущий трафик контейнерных перевозок которые приобретает соверменный мир наши представители и агенты находятся практически в каждом крупном порту Европы.
				Мы работаем с крупнейшими судоходными компаниями в мире.</p>
				</section>
			</div>
		</div>
	</div>
	<!-- /Extra -->
	<br><hr><br>
  <div class="container">
		<div class="row">
	    <header>
		  	<h2>Наша миссия</h2>
			</header>
			<p>Мы гордимся вкладом, который вносим благодаря нашей повседневной работе. Все, что перевозится с одного места на другое, требует помощи логистики – но за этой простой правдой прячутся миллионы историй. Как логистическая компания, действующая по всему миру и обеспечивающая транспортировку всего того, что должно быть доставлено, мы формируем основу для международной торговли. Груз, который доверил нам клиент, может представлять из себя жизненно важные медикаменты, подарок ко Дню рождения друга, а может содержать в себе будущее компании, например, прототип инновационного устройства, будущего лидера продаж. Мы не только перевозим грузы и документы и обеспечиваем прибытие контейнеров в порты – мы доставляем процветание, мы транспортируем здоровье, мы обеспечиваем рост, мы доставляем радость. Каждый день мы соединяем людей, улучшая их жизнь.
			</p>
		</div>
	</div>

	<br>
	<div class="container">
		<div class="row">
	 
						<p><a href="/ru">English version</a></p>
    </div>
  </div>

</div>
<!-- /Main -->


